parameters:
    lolautruche_payline.merchant_id: ~ # MUST be a string
    lolautruche_payline.access_key: ~ # MUST be a string
    lolautruche_payline.proxy.host: ~
    lolautruche_payline.proxy.port: ~
    lolautruche_payline.proxy.login: ~
    lolautruche_payline.proxy.password: ~
    lolautruche_payline.environment: HOMO
    lolautruche_payline.log_verbosity: 200 # Stands for Logger::INFO
    lolautruche_payline.default_currency: 978 # ISO code for Euro
    lolautruche_payline.default_contract_number: ~ # MUST be a string
    lolautruche_payline.default_confirmation_route: ~ # MUST be provided via semantic config
    lolautruche_payline.return_route: lolautruche_payline_back_to_shop
    lolautruche_payline.cancel_route: lolautruche_payline_back_to_shop
    lolautruche_payline.notification_route: lolautruche_payline_notification

services:
    # Set PaylineSDK as a service.
    lolautruche_payline.sdk:
        class: Payline\PaylineSDK
        arguments:
            - %lolautruche_payline.merchant_id%
            - %lolautruche_payline.access_key%
            - %lolautruche_payline.proxy.host%
            - %lolautruche_payline.proxy.port%
            - %lolautruche_payline.proxy.login%
            - %lolautruche_payline.proxy.password%
            - %lolautruche_payline.environment%
            - %kernel.logs_dir%
            - %lolautruche_payline.log_verbosity%
        public: false

    lolautruche_payline.gateway:
        class: Lolautruche\PaylineBundle\Payline\Payline
        arguments:
            - "@lolautruche_payline.sdk"
            - "@event_dispatcher"
            - %lolautruche_payline.default_currency%
            - "@=service('router').generate(parameter('lolautruche_payline.return_route'), [], 0)"
            - "@=service('router').generate(parameter('lolautruche_payline.cancel_route'), [], 0)"
            - "@=service('router').generate(parameter('lolautruche_payline.notification_route'), [], 0)"
            - %lolautruche_payline.default_contract_number%

    lolautruche_payline.controller:
        class: Lolautruche\PaylineBundle\Controller\PaylineController
        arguments:
            - "@event_dispatcher"
            - "@lolautruche_payline.gateway"
            - "@=service('router').generate(parameter('lolautruche_payline.default_confirmation_route'), [], 0)"
